<head>
    <link rel="stylesheet" href="../CSS/style.css">
    <h1 class="h1"> E-Commerece </h1>
    <!-- We Can apply CSS on thead and tbody instead -->
</head>

<body>
    <a href="login.html">Login</a> |
    <a href="register.html">Register</a> |
    <a href="contactus.html">Contact Us</a> |
    <a href="products.html">Products</a> <br><br>

    <table border="1" style="width: 50%;">
        <thead>
            <th class="th">
                Name
            </th>
            <th class="th">
                Price ($)
            </th>
        </thead>
        <tbody>
            <tr>
                <td class="td">
                    <a href="https://www.w3schools.com/" target="_blank"> React </a> 
                </td>
                <td class="td">
                    100
                </td>
            </tr>
            <tr>
                <td class="td">
                    <a href="https://www.w3schools.com/" target="_blank">Node</a>
                </td>
                <td class="td">
                    75
                </td>
            </tr>
        </tbody>

    </table>
</body>