<head>
    <link rel="stylesheet" href="../CSS/style.css">
    <h1 class="h1"> E-Commerece </h1>

</head>

<body>
    <a href="login.html">Login</a> |
    <a href="register.html">Register</a> |
    <a href="contactus.html">Contact Us</a> |
    <a href="products.html">Products</a> <br><br>
    <label for="un">User Name:</label> <input type="text" id="txtusername"> <br><br>
    <label for="un">Password:</label> <input type="password" id="txtpassword"> <br><br>
    <label for="rtpwd">Retype Password:</label> <input type="password" id="txtrtpwd"> <br><br>
    <label for="email">E-Mail:</label> <input type="email" id="txtrtpwd"> <br><br>
    <label for="gender">Gender:</label> 
    <input type="radio" value="male" name ="Gender" > Male
    <input type="radio" value="female" name ="Gender"> Female
    <input type="radio" value="other" name="Gender"> Other <br><br>
    <label for="Tech">Role</label> 
    <select id="Tech" > 
        <option>React</option>
        <option>Node</option>
    </select> <br><br>
    <input type="button" value="Signup" >
</body>